body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo span {
  color: #2e2f42;
}
.studio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.studio:hover {
  color: #404bbf;
}
.studio:focus {
  color: #404bbf;
}
.studio:active {
  color: #404bbf;
  text-decoration: underline;
}

.portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio:hover {
  color: #404bbf;
}
.portfolio:focus {
  color: #404bbf;
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contacts:hover {
  color: #404bbf;
}
.contacts:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address a:hover {
  color: #404bbf;
}
.address a:focus {
  color: #404bbf;
}
.first-section {
  background-color: #2e2f42;
}
.first-section .main-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.first-section .button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0;
  cursor: pointer;
}
.first-section .button:hover {
  background-color: #404bbf;
}

.first-section .button:focus {
  background-color: #404bbf;
}
.name-section {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.second-par {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
